<div class="col-md-12">
  <h3>{{title}}</h3>
  <div class="indentity-alert alert alert-success" *ngIf="identity && identity.sub">
    You have identified correctly! Wellcome {{identity.email}}
  </div>
  <div class="indentity-alert alert alert-danger" *ngIf="identity && identity.data">
    You have not identified correctly! 
  </div>  
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4 no-padding needs-validation">
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" #email="ngModel" [(ngModel)]="user.email" name="email" required>
      <span *ngIf="!email.valid && email.touched">Invalid email</span>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" placeholder="Password" #password="ngModel" [(ngModel)]="user.password" name="password" required>
      <span *ngIf="!password.valid && password.touched">Invalid password</span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Submit</button>
  </form>
</div>

