<div class="col-md-12">
  <h3>{{title}}</h3>
  <div class="alert alert-success" *ngIf = "status == 'success'">
    You already have registered!! Login 
    <a [routerLink]="['login']">here!!</a>
  </div>  
  <div class="alert alert-danger" *ngIf = "status == 'error'">
    You haven`t registered!!
  </div>    
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(); registerForm.reset();" class="col-md-8 no-padding needs-validation">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Enter name" #name="ngModel" [(ngModel)]="user.name" required>
      <span *ngIf="!name.valid && name.touched">The name is not valid!!!</span>      
    </div>
    <div class="form-group">
      <label for="inputSurname">Surname</label>
      <input type="text" class="form-control" name="surname" placeholder="Enter surname" #surname="ngModel" [(ngModel)]="user.surname" required> 
      <span *ngIf="!surname.valid && surname.touched">The surname is not valid!!!</span> 
    </div>    
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email" #email="ngModel" [(ngModel)]="user.email" required>
      <span *ngIf="!email.valid && email.touched">The email is not valid!!!</span>      
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Enter password" #password="ngModel" [(ngModel)]="user.password" required>
      <span *ngIf="!password.valid && password.touched">The password is not valid!!!</span>        
    </div>
    <input type="submit" value="register" class="btn btn-primary" [disabled]="!registerForm.form.valid">
  </form>
</div>
