<div class="col-md-12">
 	<h3>{{title}}</h3>
 
 	<div class="alert alert-success" *ngIf="status == 'success'">
 		Your data has been updated correctly!
 	</div>
 
 	<div class="alert alert-danger" *ngIf="status == 'error'">
 		Your data has not been updated!
 	</div>
  
 	<form #updateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
 		<p>
 			<label>Name</label>
 			<input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required />
 			<span *ngIf="!name.valid && name.touched">The name is required</span>
 		</p>
 
 		<p>
 			<label>Surname</label>
 			<input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required />
 			<span *ngIf="!surname.valid && surname.touched">The surnames are required</span>
 		</p>
  
 		<p>
 			<label>Email</label>
 			<input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required />
 			<span *ngIf="!email.valid && email.touched">The email is required</span>
 		</p>
  
 		<p>
 			<label>Password</label>
 			<input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" />
 			<span *ngIf="!password.valid && password.touched">The password is required</span>
 		</p>

 		<input type="submit" class="btn btn-warning" value="{{title}}" [disabled]="!updateForm.form.valid" />
 	</form>
</div>
